@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --bg: #FFFFFF;
  --bg2: #282727;
  --bg-dark: linear-gradient(
    180deg, rgba(248, 106, 35, 0.8) 0%, rgba(242, 99, 27, 0.970566) 31.55%, #E15A17 50.09%);
  --bg-panel: #EBEBEB;
  --bg-orange: #ff6d00;
  --color-headings: #495057;
  --color-text: #333333;
}
body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: var(--bg);
}
#inverted {
  /* filter: invert(100%); */
} 

/* padrão */
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  white-space: nowrap;
}
.switch-form {
  position: relative;
  top: -38px;
  left: 11rem;
}
.switch-form .switch-input {
  width: 47px;
  height: 27px;
}
.btn-inscreva-se {
  font-size: 1rem;
  font-weight: 600;    
  color: #fff;
  background-color: var(--bg-orange);
  border-color: var(--bg-orange);
}
.btn-inscreva-se:hover {
  color: #fff;
  background-color: var(--bg-orange);
  border-color: var(--bg-orange);
}
.btn-saiba-mais {
  width: 218px;
  height: 41.36px;
  background: var(--bg);
  background: var(-bg-button);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: #CA4B0C;
  font-weight: 500;
}
.btn-saiba-mais:hover {
  color: #CA4B0C;
}
/* buttons */
.btn {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}
.btn-default {
  color: var(--bg);
  background-color: var(--bg-orange);
  border-color: var(--bg-orange);
}
.btn-default:hover {
  color: var(--bg);
  background-color: #e65100;
  border-color: #e65100;
}
.btn-check:focus+.btn-default, .btn-default:focus {
  color: var(--bg);
  background-color: #e65100;
  border-color: #e65100;
  box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}

.btn-outline-default {
  color: var(--bg-orange);
  border-color: var(--bg-orange);
  box-shadow: none;
}
.btn-outline-default:hover {
  color: #e65100;
  border-color: #e65100;
}
.btn-check:focus+.btn-outline-default, .btn-outline-default:focus {
  color: #e65100;
  border-color: #e65100;
}

.btn-text-default {
  color: #ff6d00;
  border: none;
  box-shadow: none;
}
.btn-text-default:hover {
  color: #e65100;
}
.btn-check:focus+.btn-text-default, .btn-text-default:focus {
  color: #e65100;
}

.btn-rounded {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  color: rgba(0, 0, 0, 0.67);
  padding: 0;
}

.btn-whatsapp {
  z-index: 999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: #FFFFFF!important;
  font-size: 28px;
  background-color: #00e676;
  box-shadow: 0 4px 5px rgb(0 0 0 / 35%);
  text-decoration: none;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  box-shadow: none;
  color: var(--bg-orange);
}
.btn-icon:hover,
.btn-icon:focus {
  color: var(--bg-orange);
  border: 1px solid var(--bg-orange);
}
.btn-icon:focus {
  box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}
.btn-icon svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.btn-xl {
  font-size: 1.125rem;
  padding: 0.875rem 1.375rem;
}
/* buttons end */
.header-section {
  margin-bottom: 2rem!important;
}
.header-section h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
.header-section hr {
  width: 100px;
  border-top: 5px solid var(--bg-orange);
}
.header-section.header-dark { color: #ffffff; }
.button-to-top {
  display: inline-flex;
  background-color: var(--bg-orange);
  color: #FFFFFF;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 90px;
  right: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);

  transition: background-color .3s, opacity .5s, visibility .5s, box-shadow .3s;
  opacity: 0;
  visibility: hidden;
}
.button-to-top:hover {
  cursor: pointer;
  background-color: #e65100;
  color: #FFFFFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
}
.button-to-top.show {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.btn-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: 999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #FFFFFF!important;
  font-size: 24px;
  background-color: #00e676;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.35);
}
.btn-whatsapp:hover {
  text-decoration: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

@media(max-width: 420px) {
  .button-to-top.show {
    display: none;
  }
  .btn-whatsapp {
    display: none;
  }
}

.scroll-center {
  position: relative;
  top: 53px;
  left: 48%;
}
.scroll-center .scrool-down {
  position: relative;
  width: 25px;
  height: 43px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid #fff;
  overflow: hidden;
}
.scroll-center .scrool-down::before {
  content: '';
  position: absolute;
  width:  2px;
  height: 6px;
  border-radius: 15px;
  background: #fff;
  left: 47%;
  top: 9%;
}
.scroll-center .scrool-down::after {
  content: '';
  position: absolute;
  width:  2px;
  height: 6px;
  border-radius: 15px;
  background: #fff;
  left: 47%;
  top: 15%;
}


@media(max-width: 991px) {
  .header-section h1 { 
    font-size: 3rem;
  }
  .header-section hr { 
    width: 60px; 
  }
}
@media(max-width: 767px) {
  .header-section h1 { font-size: 2rem; }
}

/* navbar */
.navbar {
  /* background-color: rgba(255, 255, 255, 0.87); */
  background-color: var(--bg);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}
.navbar-nav {
  height: calc(100vh - 66px);
  background-color: var(--bg);
  color: var(--text-light);
  overflow-y: auto;
}
.navbar-nav .nav-link {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--bg);
}
.navbar-light .navbar-nav .nav-link {
  color: var(--color-headings);
  color: var(--bg-light);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--bg-orange);
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: var(--bg-orange);
}
.navbar-header {
  width: 100%;
}
.navbar-header .navbar-toggler {
  position: absolute;
  left: 0;
  margin-left: 15px;
  border: none;
  color: rgba(0, 0, 0, 1);
}
.navbar-header .dropdown-login {
  position: absolute;
  right: 0;
  margin-right: 15px;
}
.navbar-brand {
  margin-right: 0;
}
.navbar .nav-item {
  border-top: 1px solid #eeeeee;
}
.navbar-nav .dropdown-menu {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 8px;
}
.navbar-nav {
  margin-top: .5rem;
}
.navbar .nav-link {
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .navbar .btn-icon span {
    display: none;
  }
  .navbar .btn-icon svg {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .navbar-nav {
    height: auto;
    margin-top: 0;
    overflow-y: visible;
  }
  .navbar-header {
    width: auto;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 8px;
    padding-left: 8px;
    margin: 0 4px;
  }
  .navbar-brand {
    margin-right: 32px;
  }
  .navbar .nav-item {
    border-top: 0;
  }
  .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    margin-bottom: 0;
  }
}
/* navbar end */

.form-select {
  position: absolute;
  top: 215px;
  left: 8rem;
  width: 6rem;
}

/* Acessibility */
.accessibility-menu,
.accessibility-item {
  position: relative;
  top: 28px;
}

.accessibility-item .access-icon .access-inpt {
  max-width: 41px;
}


.switch {
  position: relative;
  top: -22px;
  left: 83px;
  display: inline-block;
  max-width: 40px;
  height: 26px;
  border-radius: 12px;
}

/* dropdowns */
.dropdown-menu {
  font-size: 14px;
  background-color: var(--bg);
  border: none;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.dropdown-menu-lg {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.dropdown-menu h6 {
  padding: 0 1.5rem;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #495057;
}
.dropdown-col {
  margin-bottom: 1.5rem;
}
.dropdown-item {
  display: block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  white-space: normal;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.dropdown-item:hover,
.dropdown-item:active {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.05);
}
.dropdown-login .dropdown-menu {
  width: 288px;
}
.caret-none.dropdown-toggle::after {
  display: none;
}
@media (min-width: 992px) {
  .dropdown-menu-lg {
      width: 580px;
  }
  .dropdown-item {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }
}
/* dropdowns end */

/* nav interno */
.nav-interno {
  display: none;
  background-color: #FFFFFF;
  background: var(--bg);
}
.nav-interno .nav {
  white-space: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  overflow: auto;
}
.nav-interno .nav-item {
  padding: 0 15px;
}
.nav-interno .nav .nav-link {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px;
  font-weight: 600;
}
.nav-interno .nav .nav-link.active {
  color: #1B1B1B;
}
.nav-interno .nav .nav-link:hover {
  color: #ff671c;
}

@media (min-width: 992px) {
  .nav-interno ul {
    margin: 0;
  }
}

/* Section bemvindo */
.bem-vindo {
  padding: 6rem 0;
  background: rgb(242,99,27);
  background: var(--bg-dark);
}
.bem-vindo h1 {
  color: #fff;
}

.header-section .h-one::after {
  content: '';
  width: 100px;
  height: 5px;
  background-color: #fff;
  display: block;
}
.header-section .h-two::after {
  content: '';
  width: 100px;
  height: 5px;
  background-color: #ff671c;
  display: block;
}

.bem-vindo .section-description {
  color: #fff;
  max-width: 593px;
  font-size: 1.25rem;
}
.bem-vindo .video-img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 16px 64px rgb(0, 0, 0 / 25%);
}

@media (max-width: 991px) {
  .bem-vindo .video-img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 16px 64px rgb(0, 0, 0 / 25%);
  }
  .bem-vindo button {
    margin: 0 auto;
  }
}
@media(max-width: 767px) {
  .d-flex {
    flex-wrap: wrap;
  }
  .bem-vindo p {
    width: 33rem;
  }
  .bem-vindo .section-description {
    max-width: 650px;
  }
}
@media(max-width: 420px) {
  .bem-vindo .section-description {
    max-width: 360px;
  }
  .bem-vindo img {
    padding: 0;
    margin: 0 auto;
    width: 290px;
  }
  .bem-vindo h1 {
    width: 13rem;
  }
}
img.banner-img {
  max-width: 100%;
}

/* Apresentation */
.presentation {
  padding: 6rem 0;
  background: var(--bg3);
}
.presentation h1 {
  color: var(--bg-light);
}

.header-section .mb-3 {
  color: #212529;
}
.presentation img {
  width: 384px;
}
.presentation .presentation-description {
  padding-top: 2rem;
  color: var(--bg-light);
}
.presentation .banner-presentation {
  position: absolute;
  height: 100%;
  width: 100%;
  left: -377px;
  top: 1611px;
}
/* jus object */
.jus-object {
  padding: 4rem 0;
}
.jus-object, 
.presentation-description,
.jus-description {
  color: var(--bg-light);
}
.jus-object .jus-description {
  color: var(--bg-light);
}
.jus-object img {
  width: 384px;
}

@media(max-width: 776px) {
  .jus-object img {
    display: none;
  }
}

/* accordion */
.accordion-button, .accordion-body {
  padding-left: 0;
  padding-right: 0;
}
.accordion-button .button-header h5 {
  margin-bottom: 0.25rem;
  font-weight: 700;
  font-size: 0.875em;
  text-transform: uppercase;
}
.accordion-button .button-header span {
  font-size: 0.875em;
}
.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0,0,0,.125);
}
.accordion-button:not(.collapsed) {
  color: var(--bg-orange)!important;
  background-color: inherit;
  border-bottom: 0;
}
.accordion-body {
  padding-top: 0;
}
.accordion-item:last-of-type .accordion-collapse {
  border-bottom: 0;
}
.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff6d00'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-item .button-header {
  color: var(--bg);
}
.accordion-item .accordion-body {
  color: var(--bg);
}

/* commitment */
.commitment {
  background: linear-gradient(
    180deg, rgba(248, 106, 35, 0.8) 0%, rgba(242, 99, 27, 0.970566) 31.55%, #E15A17 50.09%);
  padding: 7rem 0;
  background-color: var(--bg-dark);
}
.commitment h1 {
  color: #fff;
}
.commitment p {
  color: #fff;
  max-width: 598px;
}

@media(max-width: 776px) {
  .commitment p.section-description {
    width: 400px;
  }
  .commitment img {
    max-width: 370px;
    margin-top: 2rem;
  }
}
@media(max-width: 420px) {
  .commitment .section-description {
    max-width: 310px;
  }
  .commitment img {
    width: 315px !important;
  }
}

/* Eixos temáticos */
.eixos-tematicos {
  padding: 3rem 0;
  min-height: 674px;
}
.eixos-tematicos .header h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 3rem;
}
.eixos-tematicos .header p {
  color: #757575;
  font-weight: 300;
}
.eixos-tematicos .card {
  margin: 15px;
  border: none;
  border-radius: .25rem;
  -moz-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.eixos-tematicos .card .topic {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.eixos-tematicos .card .card-title {
  font-weight: 700;
  font-size: 1.25rem;
  color: #E1752A;
}
.eixos-tematicos .card ul li {
  color: #757575;
  font-size: 0.875rem;
}
@media (max-width: 767px) {
  /* .eixos-tematicos { padding: 15px 0; } */
  .eixos-tematicos .header h1 { font-size: 2rem; }
  .eixos-tematicos .header p { font-size: 1rem; }
}


/* Owl Carousel 2 */
.owl-carousel .owl-stage,
.owl-carousel .owl-item,
.owl-carousel .owl-item .item {
  display: flex;
  align-items: stretch;
}
.owl-nav {
  display: block;
  position: absolute;
  top: calc(50% - 24px);
  width: 100%;
  margin: 0!important;
}
.owl-nav button {
  display: inline-flex!important;
  align-items: center!important;
  justify-content: center!important;
  position: absolute;
  width: 48px!important;
  height: 48px!important;
  background-color: #ffffff!important;
  border-radius: 50%!important;
  -moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.owl-nav .owl-prev { 
  left: -68px; 
}
.owl-nav .owl-next { 
  right: -68px; 
}
.owl-nav button:hover { 
  color: #E1752A!important; 
}
.owl-dots .owl-dot.active span, 
.owl-dots .owl-dot:hover span { 
  background: #E1752A!important; 
}
@media(max-width: 991px) {
  .owl-nav { 
    display: none; 
  }
}

/* Rodapé footer */

footer {
  padding: 4rem 0 1rem;
  background-color: #f5f5f5;
}
footer a {
  color: #212529;
  /* opacity: 0.87; */
}
footer a:hover {
  color: #e65100;
}
footer h5 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
footer .nav-link {
  padding: 0.5rem 0;
  font-size: 0.875rem;
}
footer img {
  width: 148px;
}
footer .institutional p {
  font-size: 0.875rem;
  opacity: 0.87;
}
footer .copyright-text {
  font-size: 0.875rem;
  margin-bottom: 0;
}
.social {
  margin: 0 -4px;
}
.social a {
  text-decoration: none;
  margin: 4px 8px 4px 0;
  transition: color .15s ease-in-out;
  font-size: 1.25rem;
}
.social a:last-child {
  margin-right: 0;
}
/* .social img {
  display: inline-block;
  width: 24px;
}
.social img:hover {
  fill: #e65100;
} */
footer .stamps {
  margin-top: 32px;
  text-align: center;
}
footer .stamps img {
  display: block;
  margin: 0 auto 30px;
}
footer .institutional {
  text-align: center;
}
footer .footer-col {
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  footer .stamps img {
      display: inline-block;
      margin: 0 30px 0 0;
  }   
}
@media (min-width: 992px) {
  footer .stamps {
      text-align: left;
  }
  footer .institutional {
      text-align: left;
  }
  footer .footer-col {
      margin-bottom: 0;
  }
}

/* End rodapé */