@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden !important;
}

/* padrão */
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  white-space: nowrap;
}
.btn-inscreva-se {
  font-size: 1rem;
  font-weight: 600;    
  color: #fff;
  background-color: #ff6d00;
  border-color: #ff6d00;
}
.btn-inscreva-se:hover {
  color: #fff;
  background-color: #e65100;
  border-color: #e65100;
}
.btn-saiba-mais {
  width: 218px;
  height: 41.36px;
  background: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  color: #CA4B0C;
  font-weight: 500;
}
.btn-saiba-mais:hover {
  color: #CA4B0C;
}
/* buttons */
.btn {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1em;
}
.btn-default {
  color: #fff;
  background-color: #ff6d00;
  border-color: #ff6d00;
}
.btn-default:hover {
  color: #fff;
  background-color: #e65100;
  border-color: #e65100;
}
.btn-check:focus+.btn-default, .btn-default:focus {
  color: #fff;
  background-color: #e65100;
  border-color: #e65100;
  box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}

.btn-outline-default {
  color: #ff6d00;
  border-color: #ff6d00;
  box-shadow: none;
}
.btn-outline-default:hover {
  color: #e65100;
  border-color: #e65100;
}
.btn-check:focus+.btn-outline-default, .btn-outline-default:focus {
  color: #e65100;
  border-color: #e65100;
}

.btn-text-default {
  color: #ff6d00;
  border: none;
  box-shadow: none;
}
.btn-text-default:hover {
  color: #e65100;
}
.btn-check:focus+.btn-text-default, .btn-text-default:focus {
  color: #e65100;
}

.btn-rounded {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  color: rgba(0, 0, 0, 0.67);
  padding: 0;
}

.btn-whatsapp {
  z-index: 999;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  color: #FFFFFF!important;
  font-size: 28px;
  background-color: #00e676;
  box-shadow: 0 4px 5px rgb(0 0 0 / 35%);
  text-decoration: none;
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  box-shadow: none;
  color: #ff6d00;
}
.btn-icon:hover,
.btn-icon:focus {
  color: #ff6d00;
  border: 1px solid #ff6d00;
}
.btn-icon:focus {
  box-shadow: 0 0 0 0.2rem rgba(130,138,145,.5);
}
.btn-icon svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.btn-lg {
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
}
.btn-xl {
  font-size: 1.125rem;
  padding: 0.875rem 1.375rem;
}
/* buttons end */
.header-section {
  margin-bottom: 2rem!important;
}
.header-section h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
.header-section hr {
  width: 100px;
  border-top: 5px solid #ff6d00;
}
.header-section.header-dark { color: #ffffff; }
.button-to-top {
  display: inline-flex;
  background-color: #ff6d00;
  color: #FFFFFF;
  width: 48px;
  height: 48px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: fixed;
  bottom: 90px;
  right: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);

  transition: background-color .3s, opacity .5s, visibility .5s, box-shadow .3s;
  opacity: 0;
  visibility: hidden;
}
.button-to-top:hover {
  cursor: pointer;
  background-color: #e65100;
  color: #FFFFFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
}
.button-to-top.show {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.btn-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  z-index: 999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #FFFFFF!important;
  font-size: 24px;
  background-color: #00e676;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.35);
}
.btn-whatsapp:hover {
  text-decoration: none !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}

@media(max-width: 420px) {
  .button-to-top.show {
    display: none;
  }
  .btn-whatsapp {
    display: none;
  }
}

.scroll-center {
  position: relative;
  top: 53px;
  left: 48%;
}
.scroll-center .scrool-down {
  position: relative;
  width: 25px;
  height: 43px;
  border-radius: 25px;
  background: transparent;
  border: 2px solid #fff;
  overflow: hidden;
}
.scroll-center .scrool-down::before {
  content: '';
  position: absolute;
  width:  2px;
  height: 6px;
  border-radius: 15px;
  background: #fff;
  left: 47%;
  top: 9%;
}
.scroll-center .scrool-down::after {
  content: '';
  position: absolute;
  width:  2px;
  height: 6px;
  border-radius: 15px;
  background: #fff;
  left: 47%;
  top: 15%;
}


@media(max-width: 991px) {
  .header-section h1 { 
    font-size: 3rem;
  }
  .header-section hr { 
    width: 60px; 
  }
}
@media(max-width: 767px) {
  .header-section h1 { font-size: 2rem; }
}

/* navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.87);
  backdrop-filter: blur(0.5rem);
  -webkit-backdrop-filter: blur(0.5rem);
}
.navbar-nav {
  height: calc(100vh - 66px);
  overflow-y: auto;
}
.navbar-nav .nav-link {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link {
  color: #495057;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6d00;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
  color: #ff6d00;
}
.navbar-header {
  width: 100%;
}
.navbar-header .navbar-toggler {
  position: absolute;
  left: 0;
  margin-left: 15px;
  border: none;
  color: rgba(0, 0, 0, 1);
}
.navbar-header .dropdown-login {
  position: absolute;
  right: 0;
  margin-right: 15px;
}
.navbar-brand {
  margin-right: 0;
}
.navbar .nav-item {
  border-top: 1px solid #eeeeee;
}
.navbar-nav .dropdown-menu {
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 8px;
}
.navbar-nav {
  margin-top: .5rem;
}
.navbar .nav-link {
  padding: .75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991.98px) {
  .navbar .btn-icon span {
    display: none;
  }
  .navbar .btn-icon svg {
    width: 24px;
    height: 24px;
    margin-right: 0;
  }
}
@media (min-width: 992px) {
  .navbar-nav {
    height: auto;
    margin-top: 0;
    overflow-y: visible;
  }
  .navbar-header {
    width: auto;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 8px;
    padding-left: 8px;
    margin: 0 4px;
  }
  .navbar-brand {
    margin-right: 32px;
  }
  .navbar .nav-item {
    border-top: 0;
  }
  .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
    margin-bottom: 0;
  }
}
/* navbar end */


/* dropdowns */
.dropdown-menu {
  font-size: 14px;
  border: none;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}
.dropdown-menu-lg {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.dropdown-menu h6 {
  padding: 0 1.5rem;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #495057;
}
.dropdown-col {
  margin-bottom: 1.5rem;
}
.dropdown-item {
  display: block;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  white-space: normal;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.dropdown-item:hover,
.dropdown-item:active {
  color: #000000;
  background-color: rgba(0, 0, 0, 0.05);
}
.dropdown-login .dropdown-menu {
  width: 288px;
}
.caret-none.dropdown-toggle::after {
  display: none;
}
@media (min-width: 992px) {
  .dropdown-menu-lg {
      width: 580px;
  }
  .dropdown-item {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }
}
/* dropdowns end */

/* nav interno */
.nav-interno {
  display: none;
  background-color: #FFFFFF;
}
.nav-interno .nav {
  white-space: nowrap;
  flex-wrap: nowrap;
  align-items: center;
  overflow: auto;
}
.nav-interno .nav-item {
  padding: 0 15px;
}
.nav-interno .nav .nav-link {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.7);
  padding: 15px 10px;
  font-weight: 600;
}
.nav-interno .nav .nav-link.active {
  color: #1B1B1B;
}
.nav-interno .nav .nav-link:hover {
  color: #ff671c;
}

@media (min-width: 992px) {
  .nav-interno ul {
    margin: 0;
  }
}

.projects-title h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF6D00;
  font-family: 'Roboto' sans-serif;
  font-weight: bold;
}

/* nossos cursos */
.projects {
  padding: 60px 0;
}
.projects .cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 16px;
}
.projects .card {
  width: 100%;
  margin: 8px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  overflow: hidden;
  transition: transform 0.25s ease-in-out;
}
.projects .card:hover {
  transform: translateY(-4px);
  background: linear-gradient(145deg, rgba(255,169,0,0.35) 0%, rgba(255,89,0,0.25) 100%);
}
.projects .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.projects .card-icon {
  width: 48px;
  margin: 0 16px 0 0;
}
.projects .card .category {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.projects .card h4 {
  margin-bottom: 0;
  font-weight: 800;
}
.projects .vocational-test {
  max-width: 600px;
  margin: 32px auto 0;
  text-align: center;
}
.projects .vocational-test p {
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .projects .card {
    width: 200px;
    height: 200px;
    margin: 16px;
    border-radius: 50px;
  }
  .projects .card-body {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1.5rem;
  }
  .projects .card-icon {
    width: 64px;
    margin: 0 0 8px;
  }
  .projects .card h4 {
    font-size: 1.25rem;
  }
}
@media (min-width: 992px) {
  .projects .card {
    width: 240px;
    height: 240px;
    border-radius: 60px;
  }
  .projects .card-icon {
    width: 72px;
  }
  .projects .card .category {
    font-size: 16px;
  }
  .projects .card h4 {
    font-size: calc(1.275rem + .3vw);
  }
}
@media (min-width: 1200px) {
  .projects .card {
    width: 320px;
    height: 320px;
    border-radius: 80px;
  }
  .projects .card .category {
    font-size: 20px;
  }
  .projects .card h4 {
    font-size: 2rem;
  }
  .projects .vocational-test p {
    font-size: 1.25rem;
  }
}
/* nossos cursos end */








/* Rodapé footer */

footer {
  padding: 4rem 0 1rem;
  background-color: #f5f5f5;
}
footer a {
  color: #212529;
  /* opacity: 0.87; */
}
footer a:hover {
  color: #e65100;
}
footer h5 {
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
}
footer .nav-link {
  padding: 0.5rem 0;
  font-size: 0.875rem;
}
footer img {
  width: 148px;
}
footer .institutional p {
  font-size: 0.875rem;
  opacity: 0.87;
}
footer .copyright-text {
  font-size: 0.875rem;
  margin-bottom: 0;
}
.social {
  margin: 0 -4px;
}
.social a {
  text-decoration: none;
  margin: 4px 8px 4px 0;
  transition: color .15s ease-in-out;
  font-size: 1.25rem;
}
.social a:last-child {
  margin-right: 0;
}
/* .social img {
  display: inline-block;
  width: 24px;
}
.social img:hover {
  fill: #e65100;
} */
footer .stamps {
  margin-top: 32px;
  text-align: center;
}
footer .stamps img {
  display: block;
  margin: 0 auto 30px;
}
footer .institutional {
  text-align: center;
}
footer .footer-col {
  margin-bottom: 2rem;
}
@media (min-width: 576px) {
  footer .stamps img {
      display: inline-block;
      margin: 0 30px 0 0;
  }   
}
@media (min-width: 992px) {
  footer .stamps {
      text-align: left;
  }
  footer .institutional {
      text-align: left;
  }
  footer .footer-col {
      margin-bottom: 0;
  }
}

/* End rodapé */